In [2]:
# exercise - 11
# For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

def main():
  num = int(input("number - "))

  my_str = str(num)

  reverse_str = my_str[::-1]
  print("Reversed number - ", reverse_str)

main()

number - 7536
Reversed number -  6357

In [9]:
# exercise - 12
# Calculate income tax for the given income by adhering to the rules below.
# for first 10000 tax percent is 0
# for next 10000 tax percent is 10
# for next remaining amount tax percent is 20

income = int(input("Income: "))

def tax_count(income):
  if income <= 10000:
    tax_paid = 0
    print(f"${tax_paid}")
  elif income <= 20000:
    tax_paid = (income - 10000) * 0.1
    print(f"${tax_paid}")
  else:
    tax_paid = 10000 * 0 + 10000 * 0.1 + (income - 20000) * 0.2
    print(f"${tax_paid}")

if income >= 0:
  tax_count(income)
  # print(f"Income: ${income}, Tax Paid: ${tax_paid}")
else:
  print("error occurred!")

Income: 40000
$5000.0

In [13]:
# exercise - 13
# Print multiplication table from 1 to 10
# 1  2 3 4 5 6 7 8 9 10
# 2  4 6 8 10 12 14 16 18 20
# 3  6 9 12 15 18 21 24 27 30
# 4  8 12 16 20 24 28 32 36 40
# 5  10 15 20 25 30 35 40 45 50
# 6  12 18 24 30 36 42 48 54 60
# 7  14 21 28 35 42 49 56 63 70
# 8  16 24 32 40 48 56 64 72 80
# 9  18 27 36 45 54 63 72 81 90
# 10 20 30 40 50 60 70 80 90 100

number = int(input("number - "))

def multiplication_table(number):
  for i in range(1, number):
    for j in range(1, number):
      print(i * j, end = " ")
    print("\t\t")

multiplication_table(number)

number - 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60
4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80
5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100
6 12 18 24 30 36 42 48 54 60 66 72 78 84 90 96 102 108 114 120
7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140
8 16 24 32 40 48 56 64 72 80 88 96 104 112 120 128 136 144 152 160
9 18 27 36 45 54 63 72 81 90 99 108 117 126 135 144 153 162 171 180
10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200
11 22 33 44 55 66 77 88 99 110 121 132 143 154 165 176 187 198 209 220
12 24 36 48 60 72 84 96 108 120 132 144 156 168 180 192 204 216 228 240
13 26 39 52 65 78 91 104 117 130 143 156 169 182 195 208 221 234 247 260
14 28 42 56 70 84 98 112 126 140 154 168 182 196 210 224 238 252 266 280
15 30 45 60 75 90 105 120 135 150 165 180 195 210 225 240 255 270 285 300
16 32 48 64 80 96 112 128 144 160 176 192 208 224 240 256 272 288 304 320
17 34 51 68 85 102 119 136 153 170 187 204 221 238 255 272 289 306 323 340
18 36 54 72 90 108 126 144 162 180 198 216 234 252 270 288 306 324 342 360
19 38 57 76 95 114 133 152 171 190 209 228 247 266 285 304 323 342 361 380
20 40 60 80 100 120 140 160 180 200 220 240 260 280 300 320 340 360 380 400

In [18]:
# exercise - 14
# Print a downward Half-Pyramid Pattern of Star
# * * * * *
# * * * *
# * * *
# * *
# *

number = int(input("number - "))

def star_print(number):
  for i in range(number, 0, -1):
    print("*" * i, end = "\n")

star_print(number)

number - 6
******
*****
****
***
**
*

In [3]:
# exercise - 15
# Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

def main():
  base = int(input("Base - "))
  exp = int(input("Exp - "))

  integer = exponent(base, exp)
  print(f"For {base}, the exponent is {exp} and answer is {integer}")

def exponent(base, exp):
  return base ** exp

main()

Base - 2
Exp - 4
For 2, the exponent is 4 and answer is 16

In [5]:
# exercise - 16
# Write a program to accept two numbers from the user and calculate multiplication

m = int(input("NUmber - "))
n = int(input("NUmber 1 - "))

y = m * n
print(f"Product of {m} and {n} is {y}")

NUmber - 5
NUmber 1 - 4
Product of 5 and 4 is 20